.title {
    margin-top: 2.625rem;
}

.img-wrapper {
    margin: 2rem 0;
}

.white-card form {
    margin-top: 0;
}

@media only screen and (min-width: 769px) {

    .name {
        width: 33.33%;
        margin-right: .5rem;
    }

    .surname {
        width: 66.66%;
    }

    .name-div {
        display: flex;
    }

    .img-wrapper {
      display: flex;
    }

    .input-height {
        height: 1.5rem;
    }
  
  }