
.white-card {
    width: 100%;
    position: relative;
  }

.img-wrapper{
  display: flex;
  margin-top: 4.5rem;
  justify-content: center;
}

.logo {
  width: 8rem;
  height: 8rem;
}

.profile-picture {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.title {
    margin-top: 4.5rem;
    font-size: 2rem;
    text-align: center;
}

.sub-title {
    font-size: 0.875rem;
    color: #555555;
    text-align: center;
}

.white-card form {
  display: flex;
  flex-direction: column;
  width: 83.33%;
  margin: 0 auto;
  margin-top: 4.5rem;
}

.white-card a {
  margin-top: 0.25rem;
  
  font-size: .75rem;
  width: 100%;
  cursor: pointer;
  color: #305cbc;
  text-align: end;
}

form button {
  margin-top: 1.5rem;
}

.create-account, .login {
  margin-top: 5rem;
  text-align: center;
  font-size: 0.875rem;
}

.create-account a {   
  font-size: 0.875rem;
}

@media only screen and (min-width: 769px) {
  .white-card {
    width: 50%;
    border-radius: 4px;
    background-color: #fff;
  }

  .title {
    margin-top: 7.5rem;
  }

  .img-wrapper {
    display: none;
  }

  .create-account, .login {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

}
